[submodule "PREWORK_CP/Module-2/Python - Homework"]
	path = PREWORK_CP/Module-2/Python - Homework
	url = ../python-homework.git
[submodule "PREWORK_CP/Module-3/Activities/Module-3.1/Activity_17"]
	path = PREWORK_CP/Module-3/Activities/Module-3.1/Activity_17
	url = ../git-practice
[submodule "PREWORK_CP/Project 1"]
	path = PREWORK_CP/Project 1
	url = ../../pyagh11/GroupProject1.git
[submodule "PREWORK_CP/Module-13/Homework"]
	path = PREWORK_CP/Module-13/Homework
	url = ../unit13-challenge.git
[submodule "PREWORK_CP/Project 2"]
	path = PREWORK_CP/Project 2
	url = ../../Lucas-Shaiman/project-beta.git
[submodule "PREWORK_CP/Module-19/Homework/hd-wallet-derive"]
	path = PREWORK_CP/Module-19/Homework/hd-wallet-derive
	url = ../../dan-da/hd-wallet-derive
[submodule "PREWORK_CP/Project 3"]
	path = PREWORK_CP/Project 3
	url = ../sporting-bet.git
